%div(ng-controller = "CouponsCtrl")
  .row
    .col-md-2
    .col-md-8
      %table.table.table-striped
        %thead
          %tr
            %th Status
            %th ID
            %th Coupon Code
            %th Discount Amount
            %th
        %tbody
          %tr(ng-repeat='coupon in coupons')
            %td
              .label.label-success(ng-if="coupon.status") Active
              .label.label-default(ng-if='!coupon.status') Inactive
            %td= '{{coupon.id}}'
            %td= '{{coupon.code}}'
            %td= '{{coupon.discount}}'
            %td
              %button.btn.btn-default.btn-xs(ng-click="toggleStatus(coupon.id, coupon.status)")
                %div(ng-if="coupon.status") Set Inactive
                %div(ng-if="!coupon.status") Set Active
      %button.btn.btn-default.pull-right(ng-click="openCouponModal()") New Coupon
    .col-md-2
  = render partial: "couponForm"